<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="login-box">
    <div class="login-logo">
      <a href="#">Talen-link</a>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Iniciar sesión</p>
        <form>
          <div class="input-group">
            <input type="email" id="email" class="form-control" placeholder="Correo" [(ngModel)]="email" name="email" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group">
            <input type="password" id="clave" class="form-control" placeholder="Contraseña" [(ngModel)]="clave" name="clave" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div *ngIf="error" class="error-message text-danger">
            Email o contraseña incorrecto
          </div>
          <div class="row align-items-center">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" />
                <label for="remember">Recuerdame</label>
              </div>
            </div>
            <div class="col-4">
              <button class="btn btn-primary" (click)="consulta('')">
                Ingresar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
