
<div class="acciones-container">
  <button mat-raised-button color="primary" (click)="openDialog()">Crear</button>
  <button mat-raised-button color="primary" (click)="aprobarSolicitudes()"> Aprobar</button>
</div>
<div *ngIf="solicitudes.length > 0" class="table-container mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="idArea" matSortDirection="asc" matSortDisableClear>
    <!-- Checkbox -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="seleccionarTodos($event)"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="selection.includes(element)" (change)="toggleSelection(element)"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Nombre Área -->
    <ng-container matColumnDef="nombreArea">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Área </th>
      <td mat-cell *matCellDef="let element"> {{ element.nombre_area }} </td>
    </ng-container>

    <!-- Nombre Jefe de Área -->
    <ng-container matColumnDef="nombreJefe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Jefe de Área </th>
      <td mat-cell *matCellDef="let element"> {{ element.Jefe_area }} </td>
    </ng-container>

    <!-- Solicitud Personal -->
    <ng-container matColumnDef="solicitudPersonal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Solicitud Personal </th>
      <td mat-cell *matCellDef="let element"> {{ element.solicitud_personal }} </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editarSolicitud(element)">
            <mat-icon>edit</mat-icon> Editar
          </button>
          <button mat-menu-item (click)="eliminarSolicitud(element.id)">
            <mat-icon>delete</mat-icon> Eliminar
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <!-- Header and Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginador -->
  <mat-paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" aria-label="Registros por página"></mat-paginator>
</div>
