<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Gerencia</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item active">Gerencia</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <!-- Botones Crear y Escalar -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div>
        <button mat-raised-button color="accent" (click)="aprobarSolicitud()">
          Aprobar
        </button>
      </div>
    </div>

    <!-- Tabla -->
    <div class="table-container mat-elevation-z8">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortActive="numeroSolicitud"
        matSortDirection="asc"
        matSortDisableClear
      >
        <!-- Checkbox -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="masterToggle()"
              [checked]="isAllSelected()"
              [indeterminate]="isSomeSelected()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox
              (change)="toggleSelection(element)"
              [checked]="selection.includes(element)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- ID solicitud -->
        <ng-container matColumnDef="idSolicitud">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Id Solicitud
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.id_aprobacion }}
          </td>
        </ng-container>

        <!-- Número de Solicitud -->
        <ng-container matColumnDef="numeroSolicitud">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Número Solicitud
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.nro_solicitud }}
          </td>
        </ng-container>

        <!-- Área -->
        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Área</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre_area }}</td>
        </ng-container>

        <!-- Tipo Solicitud -->
        <ng-container matColumnDef="cargo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cargo</th>
          <td mat-cell *matCellDef="let element">
            {{ element.solicitud_personal }}
          </td>
        </ng-container>

        <!-- Fecha Ejecución -->
        <ng-container matColumnDef="fechaEjecucion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Fecha Ejecución
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.fecha_aprobacion }}
          </td>
        </ng-container>

        <!-- Fecha Fin Oferta -->
        <ng-container matColumnDef="fechaFinOferta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Fecha fin de la oferta
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.fecha_fin_oferta }}
          </td>
        </ng-container>

        <!-- Opciones -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Opciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editarSolicitud(element)">
                <mat-icon>edit</mat-icon>
                <span>Gestionar solicitud</span>
              </button>
              <button mat-menu-item (click)="eliminar(element.id_solicitud)">
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <!-- Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!-- Paginación -->
      <mat-paginator
        [length]="dataSource.data.length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 15]"
        aria-label="Registros por página"
      ></mat-paginator>
    </div>
  </div>
</section>
