.table-container {
    margin: 20px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  

  .table-container {
    overflow-x: auto;
    margin-top: 15px;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  button {
    margin-right: 10px;
  }
  